// SPDX-License-Identifier: GPL-3.0-or-later
IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;
IO_LOC "status_led" V13;
IO_PORT "status_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "debug_probe" D22;
IO_PORT "debug_probe" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "loader_up" F19;
IO_PORT "loader_up" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "loader_down" F20;
IO_PORT "loader_down" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "loader_activate" E22;
IO_PORT "loader_activate" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_miso" AA15;
IO_PORT "sd_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_clk" V15;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "sd_cs" W15;
IO_PORT "sd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sd_mosi" Y16;
IO_PORT "sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
