// Tang Console 138K NEO, GW5AST-138C PG484.
IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;

// USR_CLK_IN, the MS5351 CKO2 output on the Dock baseboard.  Sipeed derive
// 720p60 from this rather than from the SOM's 50 MHz oscillator.
IO_LOC "usr_clk" V10;
IO_PORT "usr_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;

IO_LOC "UART_TXD" U15;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_clk_n" G16;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_d_p[0]" J14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_d_n[0]" H14;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_d_p[1]" J15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_d_n[1]" H15;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_d_p[2]" K17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
IO_LOC "tmds_d_n[2]" J17;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D DRIVE=8;
