// SPDX-License-Identifier: GPL-3.0-or-later
// Direct USB-A and read-only SD pins for the Spec256 loader profile.
IO_LOC "usb1_dp" H13;
IO_PORT "usb1_dp" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "usb1_dn" G13;
IO_PORT "usb1_dn" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "usb2_dp" M15;
IO_PORT "usb2_dp" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "usb2_dn" M16;
IO_PORT "usb2_dn" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "sd_miso" AA15;
IO_PORT "sd_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_clk" V15;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "sd_cs" W15;
IO_PORT "sd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sd_mosi" Y16;
IO_PORT "sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
